.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CDBSidebarMenuItem:hover {
  background-color: rgb(95, 95, 95);
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#sidebar {
  position:fixed;
}

.slotBig {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(27, 33, 44, 0.4);
  padding: 4px 8px 8px 4px;
}

.home .cards-container {
	margin:25px auto;
	display:grid;
	width:100%;
	grid-template-columns:repeat(3, minmax(300px, 1fr));
	grid-gap:25px;
	grid-template-rows:1fr;
}

.home .card-bg {
  color: rgba(27, 33, 44, 0.4);
  background-color: rgba(27, 33, 44, 0.4);
	border:1px solid #f2f2f2;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.home .card-bg-white {
	color: rgb(255, 69, 0);
	background-color: rgb(255, 255, 255);
	  border:1px solid #f2f2f2;
	  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

.home .wide {
	grid-column:span 2;
}

.home .c-p {
	cursor:pointer;
}

.home .pane-image {
	min-width:3rem;
	height:3rem;
	margin-right:1rem;
}

.home .card-section {
	padding:0 1.5rem;
	box-sizing: border-box;
}

.home .footer {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1.5rem 0;
	width:80%;
	margin:0 auto;
}

.home .footer-link {
	display:flex;
	align-items:center;
	padding:0;
	color:#333;
}

@media (max-width:1320px) {
	.home .cards-container {
		grid-gap: 15px;
		grid-template-columns: repeat(2, minmax(270px, 1fr));
	}
	.home .wide {
		grid-column:span 1;
	}
	.home .card-section {
		padding:0 0.5rem;
	}
	.home .table-rem {
		display:none !important;
	}
	.home .footer {
		width:90%;
	}
}

@media (max-width:920px) {
	.home .cards-container {
		max-width:500px;
		width:90%;
		font-size: 0.85rem;
		grid-template-columns: repeat(1, minmax(220px, 100%));
	}
	.home .msg-rem {
		display:none !important;
	}
	.home .p-4 {
		padding:1rem !important;
	}

	.home .pane-image {
		min-width:2rem;
		height:2rem;
		margin-right:0.5rem;
	}
	.home .footer-rem, .home .footer-link {
		display:none !important;
	}
	.home .footer .d-flex{
		margin:0 auto;
		text-align: center;
	}
}
@media (max-width:375px) {
	.home .h5 {
		font-size:1rem;
	}
	.home .cards-container {
		margin:10px 0;
	}
}